* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.login-container .logo {
  margin-bottom: 20px;
}

.login-container img {
  width: 100px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="email"],
input[type="password"] {
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd; 
  font-size: 16px;
  background-color: white; 
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #ff3e6c; 
  outline: none; 
}

.login-container button {
  padding: 12px;
  background-color: #ff6f91; 
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #ff85b1; 
}

.login-container p {
  margin-top: 20px; 
  font-size: 14px; 
}

.login-container a {
  color: #ff3e6c; 
  text-decoration: none; 
  font-weight: bold; 
  transition: color 0.3s; 
}

.login-container a:hover {
  color: #ff5a85; 
}
.login-container p {
  margin-top: 20px; 
  font-size: 14px; 
  color: black; 
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
