.categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
  padding: 20px; 
  background-color: #f9f9f9; 
  border-radius: 10px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.category-item {
  width: 120px;
  text-align: center;
  transition: transform 0.3s; 
}

.category-item:hover {
  transform: scale(1.05); 
}

.category-link {
  display: block;
  text-decoration: none;
  color: inherit; 
}

.category-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s; 
}

.category-image:hover {
  transform: scale(1.1);
}

.category-name {
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
  color: #333; 
}

h2 {
  color: blueviolet;
  text-align: center; 
  margin-bottom: 20px; 
  font-size: 24px; 
}
